
@{
    ViewData["Title"] = "Index";
}
@if ((bool)ViewData["FileExist"])
{
    <a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="DownloadSchedule">Скачать расписание</a>
}
@Html.Raw(ViewData["Grid"])

