
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="DownloadSchedule" asp-route-filename="variant.xls">Скачать расписание</a>

